@charset "utf-8";

#game{
    display:flex;flex-flow:row wrap;
    justify-content:center; align-items:center;
    position:relative;
    gap:4px;
    width:95vmin; aspect-ratio:1/1;
    background:#333;
    margin:0 auto;}

.cell{
    position:relative;
    width:calc(100% / 21 - 4px); aspect-ratio:1/1;
    background:#eee;}

.cell.food{background:gold;}
.cell.snake{background:dodgerblue;}